.body {
	margin: 0px;
 	background: black;
	color: #000;
 	font-family: Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
}



/* ---------- Divs --------- */

#homepage {
	width: 0px;
	height: 0px;
	background-color: white;
	position: absolute;
	margin: 0 auto;
}

#myCanvas {
	position: absolute;
	z-index: 1;
}


/* --- Headings and Text

h1 {
	font: normal 4em/1em Georgia, serif;
 	margin: 20px 0;
}

p {
	font-size: 1.2em;
	margin-top: 20px;
}


/* --- Links 

a:link, a:visited, a:active { 
	color: #00c; 
	text-decoration: underline; 
}

a:hover { 
	color: #c00; 
	text-decoration: none; 
} */
